<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings for MySQL -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/Fawry-Schema</property>
        <property name="connection.username">root</property>
        <property name="connection.password"/>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">10</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="show_sql">false</property>

        <property name="current_session_context_class">thread</property>

        <mapping class="org.fawry.Week7.JPA_Hibernate.Entities.Doctor"/>
        <mapping class="org.fawry.Week7.JPA_Hibernate.Entities.Drug"/>
        <mapping class="org.fawry.Week7.JPA_Hibernate.Entities.Hospital"/>
        <mapping class="org.fawry.Week7.JPA_Hibernate.Entities.Patient"/>


    </session-factory>

</hibernate-configuration>