<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings for MySQL -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/fawry-tasks</property>
        <property name="connection.username">fawry-intern</property>
        <property name="connection.password">fawry</property>

        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">10</property>

        <property name="hibernate.hbm2ddl.auto">create</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="show_sql">false</property>

        <property name="current_session_context_class">thread</property>

        <mapping class="org.hibernatetask.entity.Doctor"/>
        <mapping class="org.hibernatetask.entity.Drug"/>
        <mapping class="org.hibernatetask.entity.Hospital"/>
        <mapping class="org.hibernatetask.entity.Patient"/>

    </session-factory>

</hibernate-configuration>